*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 10px;
}
.first-ul{
    display: flex;
    gap: 30px;
    list-style: none;
    align-items: center;
}
.first-ul li:hover{
    color: #A21EF2;
    transition: 1.5s ease;
    cursor: pointer;
}
.first-btn{
    width: 110px;
    height: 35px;
    border-radius: 20px;
    border: solid 1px #A21EF2;
    color: #A21EF2;
    background-color: transparent;
}
.first-btn:hover{
    background-color: #A21EF2;
    color: white;
    transition: 1s ease;
}
.first-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* float: right; */
    gap: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.under-1{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.first-h2{
    width: 400px;
    font-size: 35px;
    letter-spacing: 1px;
}
.first-p{
    width: 300px;
}
.second-btn{
    width: 220px;
    height: 45px;
    background-color: #A21EF2;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    text-transform: capitalize;
    padding-left: 50px;
}
.second-btn:hover{
    background-color: transparent;
    color: #A21EF2;
    border: solid 1px #A21EF2;
    cursor: pointer;
    transition: 1s ease;
}
.second-btn img{
    width: 50px;
}
.second-sec{
    background-color: #240737;
    color: gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding-top: 40px;
    padding-bottom: 50px;
}
.second-sec h2{
    color: white;
    font-size: 30px;
}
.peri{
    width: 85%;
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.third-btn{
    width: 220px;
    height: 45px;
    background-color: #A21EF2;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    color: white;
    text-transform: capitalize;
    padding-left: 50px;
}
.third-btn:hover{
    background-color: transparent;
    color: #A21EF2;
    border: solid 1px #A21EF2;
    transition: 1.5s ease;
    cursor: pointer;
}
.fourth-btn{
    width: 220px;
    height: 45px;
    background-color: transparent;
    border: solid 1px #A21EF2;
    color: #A21EF2;
    border-radius: 10px;
}
.fourth-btn:hover{
    background-color: #A21EF2;
    color: white;
    transition: 1.5s ease;
    cursor: pointer;
}
.two-btn{
    display: flex;
    gap: 100px;
    align-items: center;
}
.road{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
}
.map img{
    width: 500px;
}
.third-h2{
    font-size: 40px;
}
.lal{
    width: 300px;
    height: 50px;
    border: solid 2px #240737;
    padding-left: 60px;
}
.fifth-sec{
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.accordion {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 300px;
    gap: 20px;
    color: black;
    padding-top: 100px;
}
.accordion-item {
    border-radius: 20px;
}
.accordion-header {
    background-color: #f4f4f4;
    padding: 10px;
    cursor: pointer;
    position: relative;
    border-radius: 5px;
    background-color: #FFD300;
}
.accordion-content {
    display: none;
    padding: 10px;
    background-color: #FFD300;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.accordion-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
}
.accordion-title {
    margin-right: 20px;
    border-radius: 20px;
    font-weight: 700;
}
.good{
    display: flex;
    gap: 80px;   
}
.pepe{
    width: 600px;
    height: 220px;
    background-color: #FFD300;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    text-transform: capitalize;
    gap: 15px;
    font-size: 20px;
}
footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    gap: 30px;
    text-align: center;
}
.hfh{
    width: 200px;
    height: 55px;
    background-color: black;
    display: flex;
    align-items: center;
    color: #FFD300;
    gap: 10px;
    padding-left: 15px;
    border-radius: 10px;
    border: none;
}
.hfh img{
    width: 40px;
}
.all-icon img{
    width: 60px;
}
.accordion-icon{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: gray;
    justify-content: center;
    text-align: center;
    font-weight: 700;
}
.last-tet{
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-items: center;
}
.pppp{
    display: flex;
    gap: 60px;
}
.menu{
    display: none;
}
.line{
    width: 30px;
    height: 4px;
    background-color: #A21EF2;
    border-radius: 40px;
    margin-top: 3px;
}
.second-ul{
    display: none;
}
.hero img{
    opacity: 0; 
    animation: fadeIn 2s ease forwards; 
}
.hfh:hover{
    background-color: #FFD300;
    border: solid 2px black;
    transition: 1.5s ease;
    cursor: pointer;
    color: black;
}

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
@media screen and (max-width:775px) {
    .loog0 img{
        width: 60px;
    }
    .menu{
        display: block;
    }
    .first-ul{
        display: none;
    }
    .first-sec{
        flex-direction: column-reverse;
    }
    .hero img{
        width: 370px;
    }
    
    .under-1 h2{
        width: 350px;
    }
    .good{
        flex-direction: column-reverse;
        align-items: center;
        gap: 10px;
    }
    .map img{
        width: 300px;
    }
    .two-btn{
        flex-direction: column;
        gap: 20px;
        margin-right: 100px;
    }
    .peri{
        align-items: flex-start;
    }
    .pepe{
        width: 350px;
    }
    .pepe img{
        width: 70px;
        padding-top: 10px;
    }
    .hfh img{
        width: 50px;
    }
    .trt img{
        width: 350px;
    }
    body{
        display: flex;
        flex-direction: column;
        overflow-x: hidden;
    }
    .second-btn{
        gap: 30px;
        padding-left: 35px;
    }
    .second-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        color: white;
        gap: 30px;
        transition: 0.5s;
        height: 0px;
        background-color: #A21EF2;
        list-style: none;
        font-size: 25px;
        text-transform: capitalize;
    }
    .second-ul li:hover{
        color: #56038a;
        transition: 0.5s ease;
    }
    .toggle-btn{
        width: 350px;
        height: 45px;
        text-align: center;
        background-color: #240737;
        color: white;
        border-radius: 10px;
    }
    .toggle{
        height: 400px;
        padding-top: 40px;
    }
    .peri p{
        width: 330px;
    }
    .all-icon img{
        width: 50px;
    }
    .road{
        padding-bottom: 50px;
    }
    .second-ul a{
        color: white;
        text-decoration: none;
    }
    
}